# how many draws in a row game supports
drawsInRow: 3
# how many players game supports
numberOfPlayers: 2
# number of cards dealt to each player at the
# beginning of the game
numberOfDealtCards: 20
# which cards are excluded from the game
# format 'rank:suit' (e.g. jack:clubs or two:diamonds)
# if all suits are excluded for given rank, replace with 'any'
# e.g. three:any, jack:any
excludeCards:
  - jack:any
  - queen:any
  - king:any
# whether to give players random order when
# starting the game
randomPlayerOrder: true